{{template "/htm/header.htm" . }}

<script>
  function console() {
    return {
      is_running: true,
      console_text: "_",

      console_result: function(json) {
        this.is_running = json.is_running;
        this.console_text = json.text;
      },
      start_loop: function () {
        var self = this;
        setInterval(function () {
          fetch("/api/server/status")
            .then((response) => response.json())
            .then((json) => self.console_result(json));
        }, 500);
      },

      start_server: function() {
        fetch("/api/server/start")
          .then((response) => response.json())
          .then((json) => this.console_result(json));
      },
      stop_server: function() {
        fetch("/api/server/stop")
          .then((response) => response.json())
          .then((json) => this.console_result(json));
      },
    };
  }
</script>

<h1 class="text-3xl text-black pb-6">Server Status</h1>
<div class="w-full overflow-x-hidden border-t flex flex-col">
  <main class="w-full flex-grow lg:p-6 md:p-4 p-2">

    <div class="flex flex-wrap mt-6">
      <div class="w-full pr-0" x-data="console()" x-init="start_loop()">
        <p class="text-xl pb-3 flex items-center">
          <i class="fas fa-terminal mr-3"></i> Server Console
        </p>
        <div class="lg:p-6 md:p-4 p-2 bg-black text-white">
          <pre id="console" class="text-xs h-96 overflow-scroll" style="line-height: 1.2" x-html="console_text"></pre>
        </div>
        <p class="text-xl pb-3 flex items-center mt-6">
          <button @click="stop_server()" class="px-4 py-1 text-white font-light tracking-wider bg-corsa rounded-md"
            type="button" x-show="is_running">
            <i class="fas fa-stop mr-3"></i> Stop Server
          </button>
        </p>
        <p class="text-sm text-gray-600 mt-3">
          ServerManager launches the generated server from <code>{{ .tmpLoc }}</code> and uses
          <code>{{ .tmpLoc }}/cfg/server_cfg.ini</code>.
        </p>
      </div>
    </div>
  </main>
</div>

{{template "/htm/footer.htm"}}
