node_modules/*
css/main.css
go.sum
go.mod
bin/*
src/assets.go
src/embed/webapp/dist
*.syso

.idea
/data
/assetocorsa
webapp/node_modules
webapp/dist

.DS_Store
**/.DS_Store
__pycache__/
*.pyc
src/src
